<html>
	<head>
		<title>About HTML</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			  crossorigin="anonymous">
		<link rel="stylesheet" href="/html.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	
		
		
		
	</head>
	<body>
		
		
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
		  <li class="nav-item">
        <a class="nav-link" href="/">Home page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Html</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Html Fields
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          	<a class="dropdown-item" href="#boiler">Html boilerplate</a>
            <a class="dropdown-item" href="#tags">Basic Html Tags</a>
			<a class="dropdown-item" href="#lists">Html Lists</a>
			<a class="dropdown-item" href="#tables">Html Tables</a>
			<a class="dropdown-item" href="#forms">Html Forms</a>
			<a class="dropdown-item" href="#attributes">Html Attributes</a>
         
        </div>
		
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/css">CSS</a>
      </li>
	
    </ul>
   
  </div>
</nav>
		
		
		
		
		
		
		
		
		
		<section id="home">
				<br><br><br>
		
		<h1 id="a">Hyper Text Markup Language(HTML)</h1>
	<div class="slider">
		<div id="img">
			<img src="https://cdn.pixabay.com/photo/2017/02/05/00/19/web-design-2038872_960_720.jpg">
		</div>
	</div>
	
	    </section>
	
		<section id="about">
		<br><br>
		<h1 class="c">About HTML</h1>
			
	<br>
	
		
      <p class="card-text">Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.
Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages.</p>
    
      <p class="card-text"> HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.
HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page.</p>
  

      <p class="card-text"> HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. HTML elements are delineated by tags, written using angle brackets. Tags such as  img /> and input /> directly introduce content into the page. Other tags such as p> surround and provide information about document text and may include other tags as sub-elements. Browsers do not display the HTML tags, but use them to interpret the content of the page.</p>


      <p class="card-text">HTML can embed programs written in a scripting language such as JavaScript, which affects the behavior and content of web pages. Inclusion of CSS defines the look and layout of content. The World Wide Web Consortium (W3C), former maintainer of the HTML and current maintainer of the CSS standards, has encouraged the use of CSS over explicit presentational HTML since 1997.</p>
    </section>
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<section id="boiler">
			<br><br><br>
			<h1 class="b">Html boilerplate</h1>
			<h2 class="d">HTML BOILERPLATE
			<br><br>
			< !DOCTYPE html ><br>
			< html ><br>
			< head ><br>
			< title >< /title ><br>
			< /head ><br>
			< body ><br>
			< /body ><br>	
			< /html >
			</h2>
			
			<h2 class="e">HTML boilerplate explanation</h2>
<button class="btn btn-primary" id="f">Click to see it</button>

<div class="g">
<ul>
	<li>< html > - root of an html document, so it is also referred
		to as the root element. All the elements must be descendants
		of this element.
	</li>
	<li>< head > - primarily holds information for machine processing, not human-readability. For human-visible information, like top-level headings and listed authors, see the < header > element .
	The start tag may be omitted if the first thing inside the < head > element is an element.
	The end tag may be omitted if the first thing following the < head > element is not a space character or a comment.
	</li>
	<li>
		< title > - The HTML Title element (< title >) defines the document's title that is shown in a browser's title bar or a page's tab. It only contains text and tags within the element are ignored.Both opening and closing tags are required. Note that leaving off < /title > should cause the browser to ignore the rest of the page.
		
	</li>
			<li>< body  > - The HTML < body > Element represents the content of an HTML document. There can be only one < body > element in a document.The start tag may be omitted if the first thing inside it is not a space character, comment,  script > element or  style > element. The end tag may be omitted if the < body > element has contents or has a start tag, and is not immediately followed by a comment.</li>
			</div>

				<br><br><br><br><br>
				<br><br><br><br><br>
		<div class="content clearfix">

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front"src="https://cdn.pixabay.com/photo/2015/09/05/21/52/macbook-925595_960_720.jpg" alt="">
					<img class="back" src="https://cdn.pixabay.com/photo/2018/01/17/20/22/analytics-3088958_960_720.jpg" alt="">
					<img class="left" src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" alt="">
					<img class="right" src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg" alt="">

				</div>
			</div>	

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg" alt="">
					<img class="back" src="https://cdn.pixabay.com/photo/2016/01/19/14/47/laptop-work-1148958_960_720.jpg" alt="">
					<img class="left" src="https://cdn.pixabay.com/photo/2015/09/06/00/53/laptop-926775_960_720.jpg" alt="">
					<img class="right" src="https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227_960_720.jpg" alt="">

				</div>
			</div>	

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="https://cdn.pixabay.com/photo/2016/10/15/15/19/digital-1742687_960_720.jpg" alt="">
					<img class="back" src="https://cdn.pixabay.com/photo/2018/01/17/20/22/analytics-3088958_960_720.jpg" alt="">
					<img class="left" src="https://cdn.pixabay.com/photo/2015/05/29/10/33/ux-789162_960_720.jpg" alt="">
					<img class="right" src="https://cdn.pixabay.com/photo/2015/06/24/15/45/code-820275_960_720.jpg" alt="">

				</div>
			</div>	

		</div>
	</div>
				
				
			</section>
				
				<section id="tags">
				<br><br><br>
				<h1 class="b">Basic HTML Tags</h1>
					<br><br><br>
				
				<div class="i">
1) <span class="p">< h1 > - < h6 ></span> : <small>elements represent six levels of section headind.
					< h1 > is the highest section level & < h6 > is lowest.</small>
</div>
<h2>Eg:</h2>
<ul>
	<marquee behavior="alternate"><li><h1 class="j">welcome to html</h1></li></marquee>
	<marquee behavior="alternate"><li><h2 class="k">welcome to html</h2></li></marquee>
	<marquee behavior="alternate"><li><h3 class="l">welcome to html</h3></li></marquee>
	<marquee behavior="alternate"><li><h4 class="m">welcome to html</h4></li></marquee>
	<marquee behavior="alternate"><li><h5 class="n">welcome to html</h5></li></marquee>
	<marquee behavior="alternate"><li><h6 class="o">welcome to html</h6></li></marquee>
</ul>
					<h2><small>Note: all this " h " tags are <b>block level elements.</b> Means they have there owm separate line.</small></h2>
<br>

<div class="i">
	2)<span class="p"> < p ></span> : <small>(paragraph) can be any structural grouping of related content , such as images or forms fields.<b>Its a block level element.</b></small>
</div>
<h2>Eg:</h2>
<p><small>Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Australia.Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Australia.Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Australia.</p>
					<p>Some species live in houses where they hunt insects attracted by artificial light.Some species live in houses where they hunt insects attracted by artificial lightSome species live in houses where they hunt insects attracted by artificial lightSome species live in houses where they hunt insects attracted by artificial light.</p></small>
<br>
<div class="i">
	3) <span class="p">< b ></span> : <small>(bold) This tag is used to bold the specific word or line. Its not the best way to do . Instead of < b > we should use < strong >. <b>Its a in line element</b>(does not have its own line).</small>
</div>
<h2>Eg:</h2>
	<small>Welcome to <strong>HTML</strong></small>
<br>	<br>
<div class="i">
	4) <span class="p">< i > </span>:<small> to italicise some text. <b>In line element</b>. But instead of < i > use < em >.</small>
</div>
<h2>Eg:</h2>
	<small>This is a <em>Italicise tag.</em></small>
<br>
<br>
<div class="i">
	5) <span class="p">< br > </span>:<small> used to break a text between a line .</small>
</div>
<h2>Eg:</h2>
	<small>Best site to <br>learn about web development.</small>
<br><br>

<div class="i">
	6) <span class="p">< div > </span>: <small>The HTML Content Division element (< div >) is the generic container for flow content. It has no effect on the content or layout until styled using CSS.As a "pure" container, the < div > element does not inherently represent anything. Instead, it's used to group content so it can be easily styled using the class or id attributes, marking a section of a document as being written in a different language (using the lang attribute), and so on. <b>Its a block level element.</b></small>
</div>
<br><br>

<div class="i">
7) <span class="p">< span > </span>: <small>The HTML < span > element is a generic inline container for phrasing content, which does not inherently represent anything. It can be used to group elements for styling purposes (using the class or id attributes), or because they share attribute values, such as lang. It should be used only when no other semantic element is appropriate. < span > is very much like a < div > element. <b>Its a in line element.</b></small>
</div>
<br><br>

<div class="i">
	8) <span class="p">< hr > </span>: <small>The HTML < hr > element represents a thematic break between paragraph-level elements: for example, a change of scene in a story, or a shift of topic within a section.Historically, this has been presented as a horizontal rule or line. While it may still be displayed as a horizontal rule in visual browsers, this element is now defined in semantic terms, rather than presentational terms, so if you wish to draw a horizontal line, you should do so using appropriate CSS.</small>
</div>
<h2>Eg:</h2>
<hr id="q">
<br><br>

<div class="i">
9) <span class="p">< abbr > </span>: <small>The HTML Abbreviation element (<abbr>) represents an abbreviation or acronym; the optional title attribute can provide an expansion or description for the abbreviation. If present, title must contain this full description and nothing else. The article " How to mark abbreviations and make them understandable " is a guide to learning to use < abbr > and related elements.This element only supports the global attributes. The title attribute has a specific semantic meaning when used with the < abbr > element; it must contain a full human-readable description or expansion of the abbreviation. This text is often presented by browsers as a tooltip when the mouse cursor is hovered over the element.
	Each < abbr > element you use is independent from all others; providing a title for one does not automatically attach the same expansion text to others with the same content text.</small>
</div>
<h2>Eg:</h2>
	<p><small>You can use <abbr title="Cascading Style Sheets"><b>CSS</b></abbr> to style your <abbr title="HyperText Markup Language"><b>HTML</b></abbr>.</small></p>
<br><br>

<div class="i">
	10) <span class="p">< mark > </span>:<small> The HTML Mark Text element (< mark >) represents text which is marked or highlighted for reference or notation purposes, due to the marked passage's relevance or importance in the enclosing context.</small>
</div>
<h2>Eg:</h2>
<small>Several species of <mark>salamander</mark> inhabit the temperate rainforest of the Pacific Northwest.
	Most <mark>salamander</mark>s are nocturnal, and hunt for insects, worms, and other small creatures.</small>
<br><br>

<div class="i">
	11) <span class="p">< small > </span>: <small>The HTML < small > element makes the text font size one size smaller (for example, from large to medium, or from small to x-small) down to the browser's minimum font size.  In HTML5, this element is repurposed to represent side-comments and small print, including copyright and legal text, independent of its styled presentation.</small>
</div>
<h2>Eg:</h2>
	<p><small>MDN Web Docs is a learning platform for Web technologies and the software that powers the Web.</small></p>
<p><small>The content is licensed under a Creative Commons Attribution-ShareAlike 2.5 Generic License.</small></p>
<br><br>
<div class="i">
	12) <span class="p">< del > </span>:<small> The HTML < del > element defines deleted/removed text.</small>
</div>
<h2>Eg:</h2>
	<p><small>My favorite color is <del>blue</del> red.</small></p>
<br><br>
<div class="i">
	13) <span class="p">< ins > </span>: <small>The HTML < ins > element defines inserted/added text.</small>
</div>
<h2>Eg:</h2>
	<p><small>My favorite <ins>color</ins> is red.</small></p>
<br><br>
<div class="i">
	14) <span class="p">< sub > </span>: <small>The HTML < sub > element defines subscripted text.</small>
</div>
<h2>Eg:</h2>
	<p><small>This is <sub>subscripted</sub> text.</small></p>
<br><br>
<div class="i">
	15) <span class="p">< sup > </span>: <small>The HTML < sup > element defines superscripted text.</small>
<h2>Eg:</h2>
	<p><small>This is <sup>superscripted</sup> text.</small></p>


<hr class="r">
<h3 class="s">For more information you can refer MDN.
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"><small>Click here</small></a>
	</h3>
<h3 class="s">You can also refer w3school.
<a href="https://www.w3schools.com/"><small>Click here</small></a>
</h3>
<hr class="r">
<br>
</section>
	
	
	
  <div class="gallery-image">
    <div class="img-box">
		
			<img src="https://cdn.pixabay.com/photo/2018/11/13/18/05/html-3813614_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">HyperText Markup Language</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2018/06/07/12/26/programming-3460032_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">Basic file of a webpage</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2017/02/05/00/19/web-design-2038872_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">Html describes the structure of a web page</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2018/05/18/15/30/webdesign-3411373_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">HTML can embed programs written in a scripting language such as JavaScript</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2015/08/19/15/44/seo-896175_960_720.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">Browsers do not display the HTML tags, but use them to interpret the content of the page.</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2017/06/10/07/30/web-2389250_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML</p>
          <p class="opacity-low">With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page.</p>
        </div>
      </div> 
    </div>
  </div>
		
		<section id="lists">
		<br><br><br>
				<h1 class="b">HTML Lists</h1>
					<br><br><br>
				
<div class="nm">		
<h2>There are two types of Lists</h2>
<h3>1)Unordered List</h3>
<h3>2)Ordered List</h3>
</div>
			<br><br><br>
		



<div class="container">
  <div class="row">
    <div class="col-sm-4 bg-primary" style="margin: 20px; border: 2px red solid;">
      <p><h3>Unordered List</h3></p>
	  <p><ul>
	  <li>red</li>
	<li>green</li>
	<li>blue</li>
	<li>yellow</li>
	<li>violet</li>
	<li>pink</li>
	<li>black</li>
	<li>gray</li>
	  </ul></p>
    </div>
    <div class="col-sm-4 bg-primary" style="margin: 20px; border: 2px red solid;">
      <p><h3>Ordered List</h3></p>
	<p>
	<ol>
	<li>red</li>
	<li>green</li>
	<li>blue</li>
	<li>yellow</li>
	<li>violet</li>
	<li>pink</li>
	<li>black</li>
	<li>gray</li>
</ol>	
	</p>
    </div>
  </div>
</div>
<br><br>
	<h5 class="mm">The HTML < li > element is used to represent an item in a list. It must be contained in a parent element: an ordered list (< ol >), an unordered list (< ul >), or a menu (< menu >). In menus and unordered lists, list items are usually displayed using bullet points. In ordered lists, they are usually displayed with an ascending counter on the left, such as a number or letter.</h5>
<h2><small>Eg:</small></h2>
<div class="u">
	< ul > or < ol ><br>
    < li > Neil Armstrong < /li ><br>
    < li > Alan Bean < /li > <br>
    < li > Peter Conrad < /li ><br>
    < li > Edgar Mitchell < /li ><br>
    < li > Alan Shepard < /li ><br>
	< /ul > or < /ol >
</div>
	<hr class="r">
<h3 class="s">For more information 
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li"><small>Click here</small></a>
	</h3>

<hr class="r">
<br>
</section>
		
		<section id="tables">
		<br><br><br>
				<h1 class="b">HTML Table</h1>
					<br><br><br>
			<h4 id="gg">The HTML < table > element represents tabular data — that is, information presented in a two-dimensional table comprised of rows and columns of cells containing data.</h4>
		<br><br>
		<ul>
	<li>The HTML < thead > element defines a set of rows defining the head of the columns of the table.</li>
	<li>The HTML Table Body element (< tbody >) encapsulates a set of table rows (< tr > elements), indicating that they comprise the body of the table (< table >).</li>
	<li>The HTML < td > element defines a cell of a table that contains data. It participates in the table model.</li>
	<li>The HTML < th > element defines a cell as header of a group of table cells. The exact nature of this group is defined by the scope and headers attributes.</li>
	<li>The HTML < tr > element defines a row of cells in a table. The row's cells can then be established using a mix of < td > (data cell) and < th > (header cell) elements.</li>
	<li>The HTML Table Caption element (< caption >) specifies the caption (or title) of a table, and if used is always the first child of a < table >. Its styling and physical position relative to the table may be changed using the CSS caption-side and text-align properties.</li>
	<li>The HTML < tfoot > element defines a set of rows summarizing the columns of the table.</li>
</ul>
		<button class="btn btn-primary" id="io">Click to see</button>
		
		<div class="y">
<table border="2px">
    <caption>Council budget (in £) 2019</caption>
    <thead>
        <tr>
            <th>Items</th>
            <th scope="col">Expenditure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Donuts</th>
            <td>3,000</td>
        </tr>
        <tr>
            <th scope="row">Stationary</th>
            <td>18,000</td>
        </tr>
    </tbody>
      <tfoot>
        <tr>
            <th scope="row">Totals</th>
            <td>21,000</td>
        </tr>
    </tfoot>
</table>
</div>
	</section>
<br>
<br>
<hr class="r">
<h2 class="s"><small>For more information </small>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table"><small><small><small>Click here</small></small></small></a>
</h2>
<hr class="r">
<br><br><br>
<br><br><br>
		
		 <div class="gallery-image">
    <div class="img-box">
      <img src="https://image.shutterstock.com/image-photo/html-css-code-developing-screenshot-600w-279336206.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML Tables</p>
          <p class="opacity-low">Helps us to create a table</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076533_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML Lists</p>
          <p class="opacity-low">Can make lists with this tag</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2018/09/10/06/11/app-3666365_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML Table</p>
          <p class="opacity-low">Each table row is defined with the tr> tag. A table header is defined with the th> tag.</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="https://image.shutterstock.com/image-photo/profile-side-view-his-he-600w-1451794139.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML List</p>
          <p class="opacity-low">An unordered list starts with the ul> tag. Each list item starts with the li> tag.</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2016/07/30/17/19/code-1557582_960_720.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML Tables</p>
          <p class="opacity-low">If you do not specify a border for the table, it will be displayed without borders.

A border is set using the CSS border property:</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="https://cdn.pixabay.com/photo/2016/09/26/09/24/html-1695519_960_720.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>HTML List</p>
          <p class="opacity-low">An ordered list starts with the ol> tag. Each list item starts with the li> tag.</p>
        </div>
      </div> 
    </div>
  </div>
		
		
		<section id="forms">
		<br><br><br>
				<h1 class="b">HTML Forms</h1>
					<br><br><br>
		HTML provides a number of elements which can be used together to create forms which the user can fill out and submit to the Web site or application. This module provides a series of articles that will help you master HTML forms. HTML forms are a very powerful tool for interacting with users; however, for historical and technical reasons, it's not always obvious how to use them to their full potential. In this guide, we'll cover all aspects of HTML forms, from structure to styling, from data handling to custom widgets. <br>
			<br>
<ul>
	<li>The HTML < form > element represents a document section that contains interactive controls for submitting information to a web server. It is possible to use the :valid and :invalid CSS pseudo-classes to style a <form> element based on whether or not the individual elements within the form are valid.</li>
	<li>The HTML < button > element represents a clickable button, which can be used in forms or anywhere in a document that needs simple, standard button functionality. By default, HTML buttons are typically presented in a style similar to that of the host platform the user agent is running on, but you can change the appearance of the button using CSS.</li>
	<li>
		The HTML < input > element is used to create interactive controls for web-based forms in order to accept data from the user; a wide variety of types of input data and control widgets are available, depending on the device and user agent.
		HTML Demo: < input type="text" >. How an < input > works varies considerably depending on the value of its type attribute, hence the different types are covered in their own separate reference pages. If this attribute is not specified, the default type adopted is text.<br><br>
			
The available types are as follows:
		<ol class="jj">
			<br><li><b>button:</b> A push button with no default behavior. <input type="button"></li>
			<li><b>checkbox:</b> A check box allowing single values to be selected/deselected.<input type="checkbox"></li>
			<li><b>color:</b> HTML5 A control for specifying a color. A color picker's UI has no required features other than accepting simple colors as text.<input type="color"></li>
			<li><b>date:</b> HTML5 A control for entering a date (year, month, and day, with no time).<input type="date"></li>
			<li><b>datetime-local:</b> HTML5 A control for entering a date and time, with no time zone.<input type="datetime-local"></li>
			<li><b>email:</b> HTML5 A field for editing an e-mail address.<input type="email"></li>
			<li><b>file:</b> A control that lets the user select a file. Use the accept attribute to define the types of files that the control can select.<input type="file"></li>
			<li><b>number:</b> HTML5 A control for entering a number.<input type="number"></li>
			<li><b>password:</b> A single-line text field whose value is obscured. Use the maxlength and minlength attributes to specify the maximum length of the value that can be entered.<input type="password"></li>
			<li><b>radio:</b> A radio button, allowing a single value to be selected out of multiple choices.<input type="radio"></li>
			<li><b>reset:</b> A button that resets the contents of the form to default values.<input type="reset"></li>
			<li><b>submit:</b> A button that submits the form.<input type="submit"></li>
			<li><b>tel:</b> HTML5 A control for entering a telephone number.<input type="tel"></li>
			<li><b>text:</b> A single-line text field. Line-breaks are automatically removed from the input value.<input type="text"></li>
			<li><b>time:</b> HTML5 A control for entering a time value with no time zone.<input type="time"></li>

		</ol>

			<br><br>
		<ul>
		<br><li>The HTML < label > element represents a caption for an item in a user interface.The label text is not only visually associated with its corresponding text input; it is programmatically associated with it too. This means that, for example, a screenreader will read out the label when the user is focused on the form input, making it easier for an assistive technology user to understand what data should be entered.

</li>
<li>
	The HTML < option > element is used to define an item contained in a < select >, an < optgroup >, or a < datalist > element. As such, < option > can represent menu items in popups and other lists of items in an HTML document.<br>
	<label for="pet-select">Choose a pet:</label>

<select class="pet-select">
    <option value="">--Please choose an option--</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
</select>
</li>
<li>The < textarea >: element defines a multi-line input field (a text area).<br>
	EG:<textarea name="message" rows="10" cols="30">
The cat was playing in the garden.
</textarea>
<br>
The rows attribute specifies the visible number of lines in a text area.
The cols attribute specifies the visible width of a text area.
</li>
</ul>
	<br><br><br>
	<h2 class="jf"><small><small><small><marquee behavior="alternate">simple validation in html forms</marquee></small></small></small></h2>
	<br><br>
The " <mark>required</mark> " attribute validates that an input is not empty. The ability to enforce rules and structure on different parts of a forms so we can say that you cannot leave email block or your password must be greater than 10 characters etc..<br>
<b>SYNTAX:</b>< input type="text" required > or < input type="email" required >
<h2><small>Eg:</small></h2>
<button class="btn btn-danger kk">Click to see</button>
<br>
<div class="ll">
<form>
	<label for="first">first name:</label>
	<input id="first" type="text" placeholder="john" required>
	<label for="second">last name:</label>
	<input id="second" type="text" placeholder="smith" required>
	   <div> 
            <label for="male">male:</label>
		<input name="info" id="male" type="radio">
		<label for="female">female:</label>
		<input name="info" id="female" type="radio">
		<label for="other">other:</label>
		<input name="info" id="other" type="radio">
       </div> 
       <div>
       	<label for="email">email:</label>
       	<input id="email" type="email" placeholder="your email" required>
       	<label for="password">password:</label>
       	<input id="password" type="password" pattern=".{5,10}" required title="5 to 10 characters">
       </div>
       <div>
       	<label for="birthday">birthday:</label>
       	<input type="date" id="birthday"> 
       	
       </div>
 

       <div>
       	I agree to the terms and conditions
       	<input type="checkbox" required>
       </div>
       <button class="btn btn-primary"><input type="reset"></button>
       <button class="btn btn-primary">SUBMIT</button>
</form>
</div>
			
	<br>
<hr class="r">
<h2 class="s"><small>For more information </small>
<a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms"><small><small><small>Click here</small></small></small></a>
</h2>
<hr class="r">
<br>		
</section>
	
	<section id="attributes">
	<br><br><br>
		<h1 class="b">HTML Attributes</h1>
					<br><br><br>
	Elements in HTML have attributes; these are additional values that configure the elements or adjust their behavior in various ways to meet the criteria the users want.<br>
Here we will talk about <br>" < a href=" " >< /a > "  <br>
" < img src=" " > " <br> 
href and src are attributes of " a " and " img " element respectively.
<br><br>
<i class="fa fa-angle-double-right"></i>
<span class="tt">Anchor tag ( < a href="  " > < /a > ): </span>The HTML < a > element (or anchor element), along with it's href attribute, creates a hyperlink to other web pages, files, locations within the same page, email addresses, or any other URL.This attribute instructs browsers to download a URL instead of navigating to it, so the user will be prompted to save it as a local file. If the attribute has a value, it is used as the pre-filled file name in the Save prompt (the user can still change the file name if they want). There are no restrictions on allowed values, though / and \ are converted to underscores. Most file systems limit some punctuation in file names, and browsers will adjust the suggested name accordingly.<br>
<b>href:</b> Contains a URL or a URL fragment that the hyperlink points to. URLs are not restricted to Web (HTTP)-based documents, but can use any protocol supported by the browser. For example, file:, ftp:, and mailto: work in most browsers. A URL fragment is a name preceded by a hash mark (#), which specifies an internal target location (an id of an HTML element) within the current document. 
<h2><small>Few anchor tag egs are:</small></h2>
<ul>
	<li><a href="http://www.google.com">Click to go to google.</a></li>
	<li><a href="http://www.facebook.com">Click to go to facebook</a></li>
	<li><a href="http://www.gmail.com">Click to go to gmail</a></li>
</ul>
<h2 class="s"><small>For more information </small>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a"><small><small><small>Click here</small></small></small></a>
</h2>
<hr class="q">
<i class="fa fa-angle-double-right"></i>
<span class="tt">Image tag ( < img src="  " > ): </span>The HTML < img > element embeds an image into the document.The src attribute is required, and contains the path to the image you want to embed. The alt attribute contains a textual description of the image, which isn't mandatory but is incredibly useful for accessibility — screenreaders read this description out to their users so they know what the image shows, and it is also displayed on the page if the image can't be loaded for some reason.<br>
<b>src</b>:The image URL. This attribute is mandatory for the < img > element. On browsers supporting srcset, src is treated like a candidate image with a pixel density descriptor 1x unless an image with this pixel density descriptor is already defined in srcset, or unless srcset contains 'w' descriptors.
<h2><small>Few img tag egs are:</small></h2>
<div class="bb">
<img class="oo" src="https://cdo-curriculum.s3.amazonaws.com/media/uploads/img_tag.png">
<img class="oo" src="https://www.wikitechy.com/step-by-step-html-tutorials/img/html-images/code-explanation-image-tag-in-html.png">
<img class="oo" src="https://www.mediacollege.com/internet/html/images/image-tag1.gif">
</div>
<hr class="r">
<h2 class="s"><small>For more information </small>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img"><small><small><small>Click here</small></small></small></a>
</h2>
<hr class="r">
<br>
<b>Note:</b> you can use " sublime text editor " to write the code.
<br><a href="https://filehippo.com/download_sublime_text/">Click here to install.</a>
<br>
<br>
<br>
</section>
<div class="pp">
				<h3 class="zz">Contact</h3>
				<span class="bv"><i class="fa fa-envelope"><span class="mz">gopalgupta2804@gmail.com</span></i></span>
				<span class="bc"><i class="fa fa-phone"><span class="nz">9792182031</span></i></span>
			</div>		
		
		


		
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
			crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
			crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/html.js"></script>
	</body>
</html>