<html>
	<head>
		<title>The Front End Development!!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			  crossorigin="anonymous">
		<link rel="stylesheet" href="/index.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		
		
	</head>
	<body>
		
<div class="topnav">
	<a  href="#register">Register</a>
	<a  href="#javascript">Java Script</a>
    <a  href="#css">Css</a>
  	<a href="#html">Html</a>
  	<a href="#about">About Front End</a>
  	<a href="#home">Home</a>
</div>
		<section id="home">
		<br><br><br>
		
		<h1 id="a">Front end development</h1>
	<div class="slider">
		<div id="img">
			<img src="https://s3.amazonaws.com/codementor_content/2015-Aug-week1/design.jpg">
		</div>
	</div>
		</section>
		
		
		
		<section id="about">
			<br><br>
		<h1 class="b">About Front End</h1>
			
		<div class="c">
			<div class="d">
				<h3><small>1).Fast-paced development with the outcomes that are user-driven</small></h3>
				<br>
				<p>
					<small>With the aid of modern framework, it is possible to fasten the pace of development of several elements of the website. Also, it shortens the real time required in the development process. For instance, the front end part needs to go hand in hand with the back-end development of an app and if the latter is all set to go then the front end space will also take a big bloom within few days.</small>
				</p>
			</div>
			<div class="d">
				<h3><small>2).Features and apps are comparatively more responsive</small></h3>
				<br>
				<p>
					<small>Latest front-end framework enables the best web developers in India to build the apps with fast responding features. They are quick and flexible in their structure which enables the app to respond quickly with just a tap and to function in adherence.</small>
				</p>
			</div>	
			<div class="d">
				<h3><small>3).Technology with so many benefits</small></h3>
				<br>
				<p>
					<small>One of the biggest advantages of front-end web development is it is backed by the technology that is easy to learn, scale and use. These technologies have passed through many precise recurrences and hence they provide user-friendly experience in layer construction. Not only for the business houses, but it is also quite easy for web developers to follow and learn from.</small>
				</p>
			</div>
			<div class="d">
				<h3><small>4).They are secured</small></h3>
				<br>
				<p>
					<small>One of the many benefits of front-end web development is that the coding is comparatively secured. The framework in front-end development is absolutely secure. This is one of the biggest benefits in the age where cyber crawlers are just waiting for a loophole to invade your digital space. With the front end development, you are all ensured of a more secure and smooth site functioning on any web browser.</small>
				</p>
			</div>
			
		</div>		
	
		 <h2 class="e"><marquee behavior="alternate">Front End Includes 
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JAVA SCRIPT</li>
			 </ul>
			 </marquee>
			</h2>
		</section>
		

			<section id="html">
			<br><br>
			<h1 class="b">Html</h1>
				<br><br>
			<ul class="f">
				<li><mark>Hypertext Markup Language (HTML)</mark>is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript</li><br>	
			<li>HTML defines several data types for element content, such as script data and stylesheet data, and a plethora of types for attribute values, including IDs, names, URIs, numbers, units of length, languages, media descriptors, colors, character encodings, dates and times, and so on. All of these data types are specializations of character data.</li><br>
			<li>HyperText is the method by which you move around on the web — by clicking on special text called hyperlinks which bring you to the next page. The fact that it is hyper just means it is not linear — i.e. you can go to any place on the Internet whenever you want by clicking on links — there is no set order to do things in.</li><br>
			<li>Markup is what HTML tags do to the text inside them. They mark it as a certain type of text (italicised text, for example).</li><br>
				<li>HTML is a Language, as it has code-words and syntax like any other language.</li><br>
			</ul>	
				
				<div class="sliderr">
					<div id="imgg">
							<img src="https://www.iquorsolutions.com/images/services/graphic/psd-to-html.jpg">
					</div>
				</div>
				<hr>
				<a href="/html"><div class="g">
					Click here to learn about 
					<button class="btn btn-danger">
						HTML
					</button>
					</div>
				</a>
					<hr>
				</section>
		
		<section id="css">
		<br><br>
		<h1 class="b">Css</h1>
				<br><br>
			<ul class="f">
				<li><mark>Cascading Style Sheets (CSS)</mark> is a style sheet language used for describing the presentation of a document written in a markup language like HTML.CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</li><br>	
			<li>CSS data types define typical values (including keywords and units) accepted by CSS properties and functions. They are a special kind of component value type.</li><br>
			<li>Cascading Style Sheets, fondly referred to as CSS, is a simply designed language intended to simplify the process of making web pages presentable. CSS allows you to apply styles to web pages. More importantly, CSS enables you to do this independent of the HTML that makes up each web page.</li><br>
			<li>CSS (Cascading Style Sheets) allows you to create great-looking web pages, but how does it work under the hood? This article explains what CSS is, with a simple syntax example, and also covers some key terms about the language.</li><br>
				<li>CSS (Cascading Style Sheets) is used to style and lay out web pages — for example, to alter the font, color, size, and spacing of your content, split it into multiple columns, or add animations and other decorative features. This module provides a gentle beginning to your path towards CSS mastery with the basics of how it works, what the syntax looks like, and how you can start using it to add styling to HTML.</li><br>
			</ul>	
				
				<div class="sliderrr">
					<div id="imggg">
							<img src="https://cdn.pixabay.com/photo/2016/11/19/22/32/css3-1841488_960_720.jpg">
					</div>
				</div>
				<hr>
				<a href="/css"><div class="g">
					Click here to learn about 
					<button class="btn btn-danger">
						CSS
					</button>
					</div>
				</a>
					<hr>
		
		</section>
		

		<section id="javascript">
		<br><br>
		<h1 class="b">Java Script</h1>
				<br><br>
			<ul class="f">
				<li><mark>JavaScript</mark> is a scripting or programming language that allows you to implement complex things on web pages — every time a web page does more than just sit there and display static information for you to look at — displaying timely content updates, interactive maps, animated 2D/3D graphics, scrolling video jukeboxes, etc. — you can bet that JavaScript is probably involved. It is the third layer of the layer cake of standard web technologies, two of which (HTML and CSS) we have covered in much more detail in other parts of the Learning Area.</li><br>	
			<li>JQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.It is free, open-source software using the permissive MIT License.As of May 2019, jQuery is used by 73% of the 10 million most popular websites. Web analysis indicates that it is the most widely deployed JavaScript library by a large margin, having 3 to 4 times more usage than any other JavaScript library.</li><br>
			<li>JavaScript is a loosely typed or a dynamic language. Variables in JavaScript are not directly associated with any particular value type, and any variable can be assigned (and re-assigned) values of all types</li><br>
			
			<li>This page documents data types appearing in jQuery function signatures, whether defined by JavaScript itself or further restricted by jQuery. Unless explicitly stated otherwise, jQuery functions require primitive values where applicable, and do not accept their Object-wrapped forms.</li><br>
			</ul>	
				
				<div class="sliderrrr">
					<div id="imgggg">
							<img src="https://cdn.pixabay.com/photo/2014/12/29/17/39/code-583073_960_720.jpg">
					</div>
				</div>
				<hr>
				<!-- <a href="/javascript"><div class="g"> -->
			
						<h3 style="text-align: center;">
							Click here to learn about</h3>
			<a style="text-align: center;" href="https://www.w3schools.com/js/default.asp">
				<h5>
					Java Script
				</h5>	
			</a>
					<!-- <button class="btn btn-danger">
						Java Script
					</button> -->
					
					<hr>
		
		</section>
	
		
		<section id="register">
		<br><br>
			<h1 class="b"><small>Register</small></h1>
			<div class="jumbotron">
			
				
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNEEDuE37yFbawIf2I1iZNomxASpxTSpJ6gif9Afxm_8HYrw/viewform?embedded=true" width="640" height="1047" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
		</div>
			<div class="j">
				<h3 class="o">Contact</h3>
				<span class="k"><i class="fa fa-envelope"><span class="m">gopalgupta2804@gmail.com</span></i></span>
				<span class="l"><i class="fa fa-phone"><span class="n">9792182031</span></i></span>
			</div>
			</section>
		<br>
		
		
			
		
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
			crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
			crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/index.js"></script>
	</body>
</html>